In [23]:
!pip install -r requirements.txt

Requirement already satisfied: pandas in /home/afiq/blogpost/umh/py-env/lib/python3.10/site-packages (from -r requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: numpy in /home/afiq/blogpost/umh/py-env/lib/python3.10/site-packages (from -r requirements.txt (line 3)) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/afiq/blogpost/umh/py-env/lib/python3.10/site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/afiq/blogpost/umh/py-env/lib/python3.10/site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: pytz>=2020.1 in /home/afiq/blogpost/umh/py-env/lib/python3.10/site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: six>=1.5 in /home/afiq/blogpost/umh/py-env/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 2)) (1.17.0)

In [24]:
import pandas as pd
import numpy as np

import yfinance as yf
import requests
from urllib.parse import urlencode

In [ ]:
# 1. Load 
# BTC OHLCV
volume = pd.read_csv("../data/market_data/BTC-FundData-MarketVolume.csv")
temp_vol = volume.drop('date', axis=1)
ohlc = pd.read_csv("../data/market_data/BTC-FundData-MarketPriceUSD.csv")
btc_ohlcv = ohlc.merge(temp_vol, on='start_time')
btc_ohlcv['start_time'] = pd.to_datetime(btc_ohlcv['start_time'], unit='ms')
btc_ohlcv = btc_ohlcv.drop_duplicates(ignore_index=True)

# On-Chain Data 
# A. Network Health
hash_rate = pd.read_csv('../data/market_data/BTC-Miner-HashRate.csv')
hash_rate = hash_rate.rename(columns={'v': "hash_rate"})
active_address = pd.read_csv('../data/market_data/BTC-Addresses-ActiveCount.csv')
active_address = active_address.rename(columns={'v': "active_address"})
new_address = pd.read_csv('../data/market_data/BTC-Addresses-NewNonZero.csv')
new_address = new_address.rename(columns={'v': "new_address"})

on_chain = hash_rate.merge(active_address, on='start_time')
on_chain = on_chain.merge(new_address, on='start_time')

In [27]:
btc_ohlcv

,start_time,date,price_usd_adj_close,price_usd_close,price_usd_high,price_usd_low,price_usd_open,volume
0,2015-05-04,2015-05-04,0.412400,42.00,42.00,37.98,38.00,765
1,2015-05-05,2015-05-05,0.540047,55.00,94.86,55.00,55.00,435
2,2015-05-06,2015-05-06,0.540047,55.00,55.00,55.00,55.00,125
3,2015-05-07,2015-05-07,0.392762,40.00,66.00,40.00,65.00,2844
4,2015-05-08,2015-05-08,0.481133,49.00,59.00,49.00,50.00,14807
...,...,...,...,...,...,...,...,...
2493,2025-04-01,2025-04-01,67.160000,67.16,67.62,65.16,66.13,1290733
2494,2025-04-02,2025-04-02,68.700000,68.70,69.07,66.77,66.88,1597579
2495,2025-04-03,2025-04-03,64.760000,64.76,65.38,64.11,64.74,2767464
2496,2025-04-04,2025-04-04,66.320000,66.32,66.87,64.58,65.28,4079133
2497,2025-04-07,2025-04-07,61.590000,61.59,64.16,59.79,60.68,7515534

In [ ]:
# On-Chain Data 

# # B. Exchange Activity
# ex_netflow = pd.read_csv()
# ex_reserves = pd.read_csv()
# withdrawal_vol = pd.read_csv()

# # C. Miner Activity
# miner_reserves = pd.read_csv()
# miner_revenue = pd.read_csv()
# hash_ribbons = pd.read_csv()

# 2. Add Technical Indicators
# btc['RSI'] = compute_rsi(btc['Close'], window=14)
# btc['ATR'] = compute_atr(btc['High'], btc['Low'], btc['Close'], window=14)

# # 3. Merge On-Chain Data (e.g., Glassnode CSV)
# on_chain = pd.read_csv("glassnode_active_addresses.csv", parse_dates=['Date'])
# btc = btc.merge(on_chain, left_index=True, right_on='Date', how='left')

# # 4. Cleanup
# btc.fillna(method='ffill', inplace=True)

In [41]:
on_chain

         start_time     hash_rate  active_address  new_address
0     1430697600000  3.010048e+17          257173       128101
1     1430784000000  3.632946e+17          262609       145584
2     1430870400000  3.815454e+17          271987       148616
3     1430956800000  3.362710e+17          261264       142856
4     1431043200000  3.523837e+17          296068       141782
...             ...           ...             ...          ...
3625  1743897600000  8.795834e+20          670484       286394
3626  1743984000000  8.834961e+20          779080       335523
3627  1744070400000  9.077995e+20          742319       336533
3628  1744156800000  7.919425e+20          726029       330457
3629  1744243200000  8.708652e+20          767623       333898

[3630 rows x 4 columns]

In [31]:
new_address

         start_time  new_address
0     1270857600000          288
1     1270944000000          247
2     1271030400000          223
3     1271116800000          193
4     1271203200000          206
...             ...          ...
1995  1443225600000       140859
1996  1443312000000       133054
1997  1443398400000       163833
1998  1443484800000       178536
1999  1443571200000       163508

[2000 rows x 2 columns]

In [32]:
on_chain

         start_time     hash_rate  active_address
0     1430697600000  3.010048e+17          257173
1     1430784000000  3.632946e+17          262609
2     1430870400000  3.815454e+17          271987
3     1430956800000  3.362710e+17          261264
4     1431043200000  3.523837e+17          296068
...             ...           ...             ...
3625  1743897600000  8.795834e+20          670484
3626  1743984000000  8.834961e+20          779080
3627  1744070400000  9.077995e+20          742319
3628  1744156800000  7.919425e+20          726029
3629  1744243200000  8.708652e+20          767623

[3630 rows x 3 columns]