In [1]:
import pandas as pd

In [25]:
# reddit = pd.read_csv('cryptonews.csv')
# reddit.date =  pd.to_datetime(pd.to_datetime(reddit.date, errors='coerce').dt.date)
reddit2022 = pd.read_csv('reddit_2022.csv')
btc_reddit2022 = reddit2022[reddit2022.subject=='bitcoin'].copy()
text_data = btc_reddit2022[['date', 'title', 'text']].reset_index(drop=True)

In [26]:
text_data

,date,title,text
0,31/12/2022,Here’s Why MicroStrategy Sold 704 Bitcoins on ...,Here's why MicroStrategy sold some of its bitc...
1,31/12/2022,Bitcoin Price to Consolidate or Retrace Even F...,Bitcoin whales have become net sellers recentl...
2,31/12/2022,Bitcoin stays put with yearly close set to sea...,Little fresh BTC price action greets traders i...
3,31/12/2022,Winners and losers of 2022: A disastrous year ...,2022 was an eventful year for the crypto world...
4,31/12/2022,'Crypto winter' won't end in 2023 — Bitcoin ad...,It will be 'another tough year' for crypto in ...
...,...,...,...
5251,3/1/2022,"Shiba DAO, Strategic Blockchain Gaming, Bank L...","Get your daily, bite-sized digest of cryptoass..."
5252,3/1/2022,Bitcoin and Ethereum are Eyeing Short-Term Bre...,Bitcoin price is eyeing an upside break above ...
5253,3/1/2022,A Reminder On Bitcoin's 13th Birthday: Why It ...,The crypto community is celebrating Bitcoin be...
5254,3/1/2022,"Bitcoin and Ethereum Eye Last Line of Defense,...",Bitcoin price is struggling to gain pace above...
5255,1/1/2022,"This Is Why Rich Dad, Poor Dad Author Buys Bit...",The US SEC will go after most altcoins since t...

In [20]:
from transformers import pipeline
import pandas as pd

# Load pipeline once
sentiment_pipeline = pipeline("sentiment-analysis")

# Modified function to return signed score
def sentiment_score(text):
    result = sentiment_pipeline(text)[0]
    score = result['score']
    if result['label'] == 'NEGATIVE':
        return -round(score, 4)
    else:
        return round(score, 4)

No model was supplied, defaulted to distilbert/distilbert-base-uncased-finetuned-sst-2-english and revision 714eb0f (https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.
Device set to use cuda:0

In [27]:
text_data['sentiment_score'] = text_data['title'].apply(sentiment_score)
daily_sentiment = text_data.groupby('date')['sentiment_score'].mean().reset_index()

In [28]:
daily_sentiment

          date  sentiment_score
0     1/1/2022        -0.998200
1    1/10/2022        -0.500975
2    1/11/2022        -0.845950
3    1/12/2022        -0.985157
4     1/2/2022        -0.546526
..         ...              ...
357   9/5/2022        -0.541777
358   9/6/2022        -0.414606
359   9/7/2022        -0.536400
360   9/8/2022        -0.110745
361   9/9/2022        -0.849329

[362 rows x 2 columns]